/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 800px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#dialog {
  display: none;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 20px;
	background: #FFFFFF;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 20px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 270px 0 0;
	height: auto !important;
	height: 100%;  
}
#mapdiv {
  min-height: 400px;
  min-width: 800px;
}
#question {
  padding: 10px 0 10px 0;
  text-align: center !important;
  font-size: 24px;
}
#question .region {
  font-weight: bold !important;
  font-style: oblique !important;
  /*color: blue !important;*/
}
.count {
  padding: 10px 0 10px 0;
  text-align: center !important;
  font-size: 24px;
}
#remainder {
  color: blue;
  padding-right: 50px;
  font-size: 30px;
}
#countRight {
  color: green;
  font-size: 30px;
}
#countWrong {
  color: red;
  font-size: 30px;
  padding-right: 50px;
}
#percent {
  color: blue;
  font-size: 30px;
}
.time {
  padding-left: 50px;
}
#time {
  color: blue;
  font-size: 30px;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
}
.right-sidebar label {
  display: inline-block;
  padding-top: 10px;
}
#start {
  margin-top: 20px;
  width: 190px;
}
#end {
  margin-top: 20px;
  width: 190px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -20px auto 0;
	min-width: 800px;
	height: 20px;
	background: #FFFFFF;
	position: relative;
}
